.body {
  display: grid;
  justify-content: center;
}

.header {
  display: grid;
  width: 1100px;
  grid-template-columns: 428px 148px 387px;
  margin-top: 92px;
  margin-left: 50px;
  margin-bottom: 96px;
  align-items: center;
}

.menu {
  font-size: 18px;
  color: #000;
  text-underline-offset: 3px;
}

.no_bullit {
  list-style-type: none;
}

.without_underscores {
  text-decoration: none;
}

.header_menu ul {
  display: flex;
  list-style-type: circle;
  gap: 32px;
}

.header ul {
  margin: 0;
}

.logo {
  display: block;
  margin: auto;
  background-image: url("../images/logo-black.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 148px;
  height: 105px;
  opacity: 0px;
}

.contact {
  line-height: 1.3em;
  font-size: 18px;
  color: #000;
}

.header_contact {
  justify-self: end;
  max-width: 240px;
}

.cover {
  display: flex;
  position: relative;
  width: 1100px;
  margin: auto;
  background-position: center;
  background-image: url("../images/cover.jpg");
  z-index: 1;
  min-height: 757px;
  background-size: cover;
  flex-direction: column;
}

.title {
  display: flex;
  flex-direction: column;
  font-size: 100px;
  width: 1100px;
  padding-left: 50px;
  padding-top: 165px;
  color: #fff;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned_text_center {
  display: block;
  text-align: center;
  padding-right: 19px;
  padding-top: 17px;
}

.aligned_text_right {
  display: block;
  text-align: right;
  margin-top: 17px;
  padding-right: 19px;
}

.description {
  display: flex;
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
  padding-top: 105px;
}

.cover_description_text {
  padding-left: 50px;
  padding-top: 14px;
  word-spacing: 0.85em;
}

.auction_button {
  height: 51px;
  width: 256px;
  margin-left: 106px;
  background-color: transparent;
  border: 1px solid #fff;
  text-transform: uppercase;
  color: #fff;
}

.description_text {
  font-size: 18px;
  padding-bottom: 5px;
  text-underline-offset: 3px;
}

.address {
  margin-top: 20px;
  text-decoration: none;
}

.overlay {
  z-index: -1;
  position: absolute;
  inset: 0;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.lots {
  display: grid;
  position: relative;
  margin-left: 25px;
  margin-top: 180px;
  grid-template-columns: 1052px;
  grid-template-areas:
    "h2"
    "lots_card-list-item"
    "other_lots";
  gap: 27px;
}

.lots_heading {
  text-align: left;
  text-transform: uppercase;
  font-size: 40px;
  grid-column-start: 1;
  grid-column-end: 4;
  padding-left: 40px;
}

.primary_lots_card_content {
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 48px 40px;
  align-content: space-between;
}

.lots_card-list-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 25px;
  flex-grow: 1;
}

.introduction_lot {
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  text-underline-offset: 3px;
  text-decoration: underline;
}

.frame_text {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}

.card {
  display: flex;
  position: relative;
  min-height: 596px;
  min-width: 334px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  background-size: cover;
}

.primary_lots_film {
  background-image: url("../images/card-lot-01.jpg");
}

.primary_lots_book {
  background-image: url("../images/card-lot-02.jpg");
}

.primary_lots_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.other_lots {
  grid-area: other_lots;
  font-weight: 400;
  color: #000;
  font-size: 20px;
  text-underline-offset: 3px;
  margin-left: 40px;
  margin-top: 3px;
}

.about {
  display: grid;
  padding-top: 120px;
  grid-template-columns: 359px 693px;
  grid-template-areas:
    "logo_column header_column"
    "logo_column column_text"
    "logo_column column_text";
  width: 1100px;
  justify-content: start;
}

.logo_column {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-left: 70px;
  margin-top: 35px;
  background-color: #000;
  border-radius: 50%;
}

.other {
  filter: invert(100%); /*изменен класс для лого*/
  height: 114px;
}

.about_column {
  grid-area: auto;
  padding-left: 25px;
  padding-top: 135px;
}

.head_column {
  text-align: left;
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 100px;
}

.column_text {
  display: flex;
  position: relative;
  font-size: 20px;
  white-space: pre-line;
  gap: 24px;
}

.footer {
  display: grid;
  grid-template-areas:
    "footer_contact"
    "footer_menu"
    "messenger";
  margin-top: 180px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 82px; /*добавлен отступ*/
  width: 1000px;
  grid-template-columns: 1fr 164px 1fr;
  align-items: start;
}

.footer_contact {
  justify-self: start;
  max-width: 240px;
}

.footer_menu ul {
  display: flex;
  align-items: center;
  max-width: 164px;
  margin: auto;
  flex-direction: column;
}

.link_active {
  justify-content: center;
  text-align: center;
}

.footer_menu {
  justify-content: center;
}

.footer_socials {
  position: relative;
  gap: 48px;
}

.messenger {
  display: flex;
  margin-left: 178px;
  width: 240px;
  gap: 48px;
  list-style-type: none;
}
